@import "colores"; 
@import "tipografias";

.menus {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(189, 183, 171);
}

 /* index */

.fondo1 {
    background-image: linear-gradient(to bottom ,#ebab6b, #ffffff);
}

.body__logo {
    width: 200px;
    transform: rotateX(30deg);
    animation-name: aparecer;
    animation-duration: 6s;
    position: relative;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes aparecer {
    0% {left: 0px;top:0px;}
    25% {left: 100px;top:0px;}
    50% {left: 300px;top:0px;}
    75% {left: 100px;top:0px;}
    100% {left: 0px;top:0px;}
}
.body__menu__link {
    color: RGB 33, 97, 140;
    font-size: 18px;
    transition: all 2s;
    color: rgb(16, 182, 207) ;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 25px;
    padding-right: 15px;
}
.body__menu__link :hover {
    font-size: 40px;
}
.body__menu__link--activo {
    font-style: oblique;
    font-size: 20px;
    text-decoration-style: dashed;
    text-decoration-line: none;
}
.body__p {
    padding-top: 100px;
}
.footer__imag {
    position: relative;
    padding-top: 130px;
    padding-right: 20px;
}

   /* about */
.titulos {
    font-weight: bold;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    color: rgb(36, 4, 78);
}
.text_a {
    font-weight: bold;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(36, 4, 78);
    
}
.text_a2 {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(36, 4, 78);
}

    /* sixsigma */

.fondo2 {
    background-image: linear-gradient(to bottom ,#e6bf98, #eaecc6);
    background-size: cover;

}

/* each */
$dimension: 15px;
@each $redes in instagram, facebook, linkedin, twitter {
    .#{$redes}-fondo {
        width: $dimension * 2;
        height: $dimension * 2;
        background-image: url(".../imagenes/#{$redes}.jpg");
    }  
}
.footer__p {
    position: relative;
    padding-top: 25px;
    padding-right: 0px;
}

    /* six_sigma */

.title-link {
    color: rgb(220, 220, 240);
    font-weight: bold;
    font-family: sans-serif;
    font-size: 25px;
    text-decoration: none;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 20px;
    padding-top: 40px;
    padding-left: 40px; 
}
.body__link {
    color: rgb(39, 39, 70);
    font-weight: bold;
    font-family: sans-serif;
    font-style: oblique;
    font: size 45px;
    text-decoration: none;
}
.container-table {
    width: 30%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-auto-rows: 30px;
    border: double;
    border-color: rgb(243, 236, 236);
}
.table__header {
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
    color:  rgb(102, 84, 84);
    background-color: rgb(194, 181, 181);
    display: flex;
    justify-content: center;
    justify-items: center;
    border-color: rgb(243, 236, 236);
    border-bottom: solid;
}
    .table__item {
        font-size: 16px;
        font-weight: bold;
        font-family: sans-serif;
        color:  rgb(243, 236, 236);
        display: flex;
        justify-content: center;
        justify-items: center;
        border-color: rgb(243, 236, 236);
        border-bottom: solid;
        background-color: rgb(90, 81, 81);
    }

      /* sixsigma */

 .button {
        border: black;
        border-style: inherit;
        font-style: italic;
        font-size: medium;
        font-weight: bold;
        width: 100px;
        margin-top: 30PX;
        text-decoration: none;
    
}
.container-sixsigma {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 25px;
    padding-top: 100px;
}
.parrafos {
    font-style: oblique;
    font-size: 18px;
    color: rgb(36, 4, 78);
    font-weight: bold;
    width: 1000px;
    float: left;
    margin-left: 40px;
    margin-top: 15px;
}
.video {
    padding-left: 25px;
    float: right;
    margin-right: 80px;
    margin-left: 40PX;
    margin-top: 20px;
    padding-right: 25px;
}

    /* formulario*/ 

.fondo4 {
    background-image: linear-gradient(to bottom, rgb(200, 230, 162), rgb(242, 242, 248));   
    background-size: cover;
}
.form__titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-style: oblique;
    color: rgb(17, 17, 94);
    padding-top: 30px;
}
.form__texto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-style: oblique;
    color: rgb(11, 11, 121);
}

   /* Desarrollo Web */

.fondo3 {
    background-image: linear-gradient(to bottom, rgb(224, 188, 134), rgb(242, 242, 248));   
    background-size: cover;
}
.header_dw {
    color: rgb(238, 238, 247);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pdw {
    padding-top: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    color: rgb(37, 3, 92);
    font-weight: bold;
    font-size: 16px;

}
.carousel_dw {
    padding-top: 40px;
}